{{ define "container" }}
    <h2 style="text-align: center">Todo list</h2>
    <div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Finished</th>
                <th>Created</th>
                <th>Add</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <td>{{ .id }}</td>
                <td>{{ .title }}</td>
                <td>{{ .finished }}</td>
                <td>{{ .created }}</td>
                <td>
                    <a class="d-flex align-items-center text-muted" href="/edit">
                        <span data-feather="plus-circle"></span>
                    </a>
                </td>
                <td>
                    <a class="d-flex align-items-center text-muted" href="/delete/{{ .id }}">
                        <span data-feather="minus-circle"></span>
                    </a>
                </td>
            {{ else }}
            <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>
                    <a class="d-flex align-items-center text-muted" href="/edit">
                        <span data-feather="plus-circle"></span>
                    </a>
                </td>
                <td>
                    <a class="d-flex align-items-center text-muted" href="/edit">
                        <span data-feather="minus-circle"></span>
                    </a>
                </td>
            </tr>            
            {{ end }}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary", onclick="addOne()">Add</button>
    </div>
    <script>
        function addOne() {
            $('table.table-sm').bootstrapTable('selectPage', 1); //Jump to the first page  
            var data = {'ii': '', 'aa': ''}; //define a new row data，certainly it's empty  
    
            $('table.table-sm').bootstrapTable('prepend', data);
            //$('#dataTable').bootstrapTable('append',data);  
    
            $("#dataTable tr:eq(1) td:eq(0)").trigger("dblclick");  
            $("#dataTable input")[0].focus();  
        }
    </script>
{{ end }}
